div.container-fluid{
    margin: 0 auto;
    
    background: linear-gradient(to bottom, #000066 50%, #e6e6e6 50%, #e6e6e6 100%);
}
.a{
    color: red;
}
div.col-md-6{
    border-radius: 3%;
}
img{
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4{
    color: #000066;
}
input.c{
    color: #000066;
}